.chess_cell_button {
    padding: 0;
    margin: 0;
    width: 0.8rem;
    height: 0.8rem;
    border: none;
}

.blue_cell {
    background-color: blue;
    border: 0.05rem solid black;
}

.yellow_cell {
    background-color: yellow;
    border: 0.05rem solid black;
}

.red_cell {
    background-color: red;
    border: 0.05rem solid black;
}

.green_cell {
    background-color: green;
    border: 0.05rem solid black;
}

.tranparent_cell {
    background-color: transparent;
}